.page.theme_dark {
  --main-text-color: #F1B2CE;
  --title-color: #DB00FF;
  --background-color: #000028;
  --accent-color: #FF0070;
  --button-text-color: #FF0070;
  --main-title-color: var(--accent-color);
  --decorated-zone: var(--accent-color);
  --opasity-border: rgba(255, 0, 112, 0.4);
  --background-image: url(../images/cover-image-dark.png);
  --border-button: 1px solid var(--accent-color);
  --title-text-color: var(--background-color);
  --text-shadow: var(--accent-color);
}
