.page.theme_light .header__rec {
  display: none;
}

.page.theme_light {
  --main-text-color: #353430;
  --title-color: #FFC2E6;
  --background-color: #353430;
  --accent-color: #FF8DCB;
  --main-title-color: #353430;
  --button-text-color: #353430;
  --decorated-zone: #353430;
  --opasity-border: rgba(53, 52, 48, 0.4);
  --background-image: url(../images/cover-image-light.png);
  --border-button: 1px solid var(--button-text-color);
  --title-text-color: var(--background-color);
  --text-shadow: var(--accent-color);
  --rec-decor: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --title-color: #FFC2E6;
    --background-color: #353430;
    --accent-color: #FF8DCB;
    --main-title-color: #353430;
    --button-text-color: #353430;
    --decorated-zone: #353430;
    --opasity-border: rgba(53, 52, 48, 0.4);
    --background-image: url(../images/cover-image-light.png);
    --border-button: 1px solid var(--button-text-color);
    --title-text-color: var(--background-color);
    --text-shadow: var(--accent-color);
    --rec-decor: hidden;
  }
}
